
.result-nav-wrapper {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-naver-wrapper span {
    color: var(--dtdark3);
    font-size: var(--spanPhone);
}

.result-naver {
    background-color: rgb(30, 37, 46);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: fit-content;
    padding: 7px 15px;
}

.result-naver img {
    height: 35px;
    z-index: 1;
}

.h-scrollable {
    display: flex;
    padding: 7px 0;
    width: 70%;
    overflow: scroll;
    overflow-y: hidden;
    margin: auto 15px;
    max-width: 230px;
}

.h-scrollable::-webkit-scrollbar {
    display: none;
}

.h-scrollable button {
    margin: 0 5px;
    background-color: rgb(157, 195, 230);
    color: black;
}