footer {
    background-color: var(--dred1);
    padding: 30px 15px 5px 5pc;
    text-align: right;
}



.user-settings {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    background-color: var(--dblue1);
    padding: 5px;
    text-align: right;
    width: 100%;
}

.my-theme, .results-per-page {
    margin: 0 0px;
    text-align: center;
}

.my-theme span, .results-per-page  span{
    display: inline-block;
    border-radius: 5px;
   background-color: var(--dgrey3);
   color: var(--dblue1);
   width: fit-content;
   padding: 2px 5px;
   font-size: 1.5rem;
   min-height: 25px;
   min-width: 25px;
   margin: 5px 10px;
   user-select: none;
   cursor: pointer;
}
.my-theme h4, .results-per-page  h4{ color: var(--dtdark3); }

.results-per-page  span{ margin: 5px; }
.results-per-page  span:hover{ font-weight: bold; background-color: var(--dgrey4);}
.results-per-page  span:active{ color:yellow }
.my-theme  span{ margin: 10px 2px; border: 1px solid var(--dtdark3); }
.my-theme  span:hover{ border: 2px solid white; }
.my-theme  span:active{ border: 2px solid orangered; }

.results-per-page small {
    margin: 0 5px;
    font-size: 1.5rem;
    color: var(--dtdark3);
}

footer small {
    font-size: 0.8rem;
}







header {
    display: grid;
    grid-template-columns: 40px calc(100% - 40px);
    width: 100%;
    padding: 20px 15px;
    background-color: var(--dgrey1);
}

.logo {
    width: 40px; height: auto;
}

.menu-wrapper {
    position: absolute;
    top: 60px;
    border: 1px solid var(--dborderGrey1);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    width: 94%;
    left: 3%;
    height: 100%;
    background-color: var(--dgrey3);
}

.menu-wrapper span {
   margin: 10px 10px;
    display: block;
    cursor: pointer;
    font-size: 0.8rem;
}
.menu-wrapper .pages span:hover {
  font-weight: bold;
  text-decoration: underline;
}
.menu-wrapper .user-actions span:hover {
  color: orangered;
}

.menu-wrapper .v-separator {display: none;}

.menu-wrapper .close {text-align: right;}

.menu-wrapper .close span {
    display: inline-block;
    background-color: transparent;
    border: 0;
    padding: 2px 10px;
    margin: 10px;
    margin-bottom: 0;
    color: white;
}
.menu-wrapper .close span:hover {color: orangered;}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.user-actions {
    color: var(--dtyellow);
    font-weight: bold;
}
