:root {
    /*...Dark Theme....*/
    /*...Background Colors......*/
    --dgrey1: black;
    --dgrey2: rgb(22,24,29);
    --dgrey3: rgb(30,37,46);
    --dgrey4: rgb(43,46,51);

    --dblue1: rgb(6,5,21);
    --dblue2: rgb(0,32,96);

    --dred1: rgb(42,0,0);
    --dred2: rgb(92,0,0);
    --dred3: rgb(74,30,30);

     /*...Border Colors......*/
     --dborderGrey1: rgb(34,42,53);

    /*...Text Colors......*/
    --dtdark1: rgb(208,206,206);
    --dtdark2: rgb(189,215,238);
    --dtdark3: rgb(132,151,176);

    --dtyellow: rgb(255,217,102);
    --dtblue: rgb(0,76,240);

    /*..........font sizes................*/
}

.search-bar {
    display: flex;
    background-color: transparent;
    border-radius: 50px;
    padding: 3px 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.search-bar input {
    padding: 0px 7px;
    border-radius: 5px;
    height: 25px;
    width: 100%;
    border: 0;
    background-color: transparent;
    text-align: center;
    color: var(--dtdark2);
    font-size: 0.8rem;
}

.search-bar input::placeholder {color: rgba(255, 255, 255, 0.545);}

.search-bar img {width: 20px;}

.search-bar input:focus {
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.581);
}